body{
	background: url(../img/b1.jpg);
}
#head_tittle{
	width: 200px;
}
#info_body{
	width: 70%;
}
#info_table{
	margin-top: 30px;
	width: 100%;
	font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
	
	}
.be_center{
	text-align: center;
	margin: 0 auto;
}
.oddrowcolor{
    background-color:#d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}
#info_table th{
	border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
#info_table td{
	 border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.input_style{
	height: 23px;
	padding-left: 3px;
	margin: 0px;
	font-size: 14px;
	border-radius: 3px;
	border: 1px darkgray solid;
	width: 100px;
}
#add{
	margin-left: 10px;
	background: #36AB87;
	border: none;
	color: #FAFBFC;
	border-radius: 3px;
	height: 27px;
	width: 100px;
}
#add:hover{
	cursor: pointer;
}
#shadow{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index: 1;
	background-color:#000;
	opacity:0.6;
	display:none;
}
#addBox {
	z-index: 999;
	height: 300px;
	width: 30%;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: whitesmoke;
	text-align: center;
	display: none;
}
#demo{
	position: absolute;
	right: 0;
	top: 0;
}

.topMargin{
	margin-top: 10px;
}
.upInput{
	padding-left: 3px;
	height: 30px;
	width: 70%;
	border-radius: 3px;
	border: none;
}
#update{
	width: 70%;
	height: 30px;
	border-radius: 3px;
	border: none;
	background-color:  #36AB87;
	color: white;
}
.upInput:hover {
	border: 2px #36AB87 solid;
	height: 26px;
}
#update:hover {
	cursor: pointer;
}
.line{
	height: 0px;
	width: 80%;
	border: 0.5px #36AB87 solid;
	margin-left: 10%;
	margin-top: 10px;
}
#desc {
	font-size: 20px;
	font-weight: bold;
	color: #36AB87;
}

#upOpt_type:hover {
	border: 2px #36AB87 solid;
	height: 30px;
}
.btnStyle{
	background-color: #36AB87;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 1px;
}